---
---

@import "{{ site.theme }}";
ul.author__urls.social-icons li{
  white-space: nowrap;
  float:left;
}

.toc {
  position: fixed
}

.sidebar p{
  font-size: 0.68em
}

.page__content p, .page__content li, .page__content dl{
  font-size: 0.7em
}

.page__content p{
  margin: 0 0 0.75em
}

h2{
  font-size: 0.8em
}

h3{
  font-size: 0.75em
}

/*Color scheme #24 from https://blog.visme.co/website-color-schemes/ */

/*background color for main page*/
html{
  background-color: #feffff
}

/*font color for main page*/
body{
  color: #17252a
}

/*header background-color*/
.masthead__inner-wrap{
  background-color: #def2f1
}
.greedy-nav{
  background: #def2f1
}

/*nav bar font color*/
.greedy-nav a{
  color: #2b7a78
}

/*footer background-color*/
/*footer font color*/
.page__footer{
  background-color: #def2f1;
  color: #2b7a78
}

.author__avatar img{
  border: 3px solid #2b7a78
}
