---
---

@import "{{ site.theme }}";
ul.author__urls.social-icons li{
  white-space: nowrap;
  float:left;
}

.toc {
  position: fixed
}

.sidebar p{
  font-size: 0.68em
}

.page__content p, .page__content li, .page__content dl{
  font-size: 0.7em
}

.page__content p{
  margin: 0 0 0.75em
}

h2{
  font-size: 0.8em
}

h3{
  font-size: 0.75em
}
